* {
  margin: 0;
  padding: 0;
}
.primary-color {
  color: #f00;
}
.btn-primary {
  display: inline-flex;
  color: #ffffff;
  background-color: #f00;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  margin-top: 48px;
  transition: 1s;
}
.btn-primary:hover {
  color: #f00;
  background: #100e0e;
  border: 2px solid #f00;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

/* header styling */
.header-container {
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  max-width: 1320px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Banner\ Image.png);
}

.header-content h4 {
  color: #fff;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-weight: 400;
}
.header-content h1 {
  color: #fff;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  margin-top: 16px;
}
.header-content {
  padding: 0px 200px 0 200px;
}

/* discount section styles */

.discount-container {
  display: flex;
  justify-content: center;
  margin: 120px auto 120px auto;
  width: 100%;
  max-width: 1320px;
  text-align: center;
}

.discount-contents h2 {
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 30px;
}
.discount-contents h4 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
}
.discount-contents h3 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 30px;
}

/* Welcome section styles */

.welcome-contents {
  display: flex;
  width: 100%;
  max-width: 1320px;
  height: 600px;
  margin: 0 auto 120px auto;
  justify-content: space-between;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Vectorrr.png);
  border-radius: 16px;
}
.welcome-txt-content h2 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  padding-bottom: 20px;
}
.welcome-txt-content {
  padding: 125px 20px 200px 120px;
}
.welcome-img {
  padding: 65px 130px;
}
.welcome-txt-content p {
  color: #ffffffcc;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 24px;
}
.btn-secondary {
  color: #fff;
  background: #100e0e;
  border: none;
  border-radius: 8px;
  padding: 16px 30px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  transition: 1.5s;
}
.btn-secondary:hover {
  background: #f00;
  border: 2px solid white;
  color: #070211;
}

/* Event location section styling */
.event-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px auto 120px auto;
  width: 100%;
  max-width: 1320px;
  height: 480px;
  border-radius: 16px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}
.event-contents p {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

/* Coming soon section styling */

.coming-soon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px auto 120px auto;
  width: 100%;
  max-width: 1320px;
  gap: 70px;
}
.coming-soon-column1 {
  max-width: 392px;
}
.coming-soon-column1 h4 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.coming-soon-column1 h3 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}
.coming-soon-column1 p,
.coming-soon-column3 p {
  color: #07021199;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 16px;
}
.coming-soon-column2 {
  border: 10px solid #f00;
  border-radius: 50%;
  padding: 10px;
}
.coming-soon-column2 img {
  width: 364px;
  display: flex;
  align-items: center;
}
.coming-soon-column3 h3 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
/* Holiday sale section styles */
.holiday-sale-wrapper {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
.holiday-sale-section-1 h4 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}
.holiday-sale-section-1 h2 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}
.holiday-sale-section-1 p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  padding: 0 120px;
  margin-bottom: 64px;
}
.gift-box-section {
  width: 100%;
  max-width: 1320px;
  height: 662px;
  margin: 0 auto;
  background: url(../resources/Group\ 75.png),
    url(../resources/Rectangle\ 2.png), url(../resources/Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-position: left, bottom, top right;
}
.discount img {
  margin-left: 730px;
  margin-top: 83px;
  position: absolute;
}
/* Portfolio section styling */
.portfolio {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
.portfolio-text-section {
  margin-top: 120px;
  margin-right: 350px;
}
.portfolio-text-section h4 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.portfolio-text-section h2 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
}
.portfolio p {
  color: #07021199;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
.portfolio-images-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
}
.portfolio-images-wrap div {
  border-radius: 16px;
}

.portfolio-images-wrap {
  margin-bottom: 120px;
}
.portfolio-img {
  transition: 0.75s ease-in-out;
}
.portfolio-img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px 0 rgba(1, 48, 255, 0.464);
}
.newsletter {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto 120px auto;
  border-radius: 16px;
  background: #ff00000d;
  align-content: center;
  align-items: center;
  text-align: center;
}
.newsletter-ico-h-p {
  padding: 80px 210px 0px 210px;
}
.newsletter-ico-h-p img {
  margin-bottom: 48px;
}
.newsletter-ico-h-p h2 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.newsletter-ico-h-p p {
  color: #07021199;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
.input-btn [type="email"] {
  padding: 25px 375px 25px 30px;
  border-radius: 50px 0 0px 50px;
  border: none;
}
.input-btn [type="button"] {
  padding: 25px 50px 25px 55px;
  border-radius: 0px 50px 50px 0px;
  border: none;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.input-btn {
  display: inline-flex;
  margin-bottom: 80px;
}
::placeholder {
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
/* Footer styling */
footer {
  background: #070211;
}
.footer-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 120px 0;
}
.footer-container hr {
  background: rgba(255, 255, 255, 0.15);
  height: 1px;
  border: none;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.address p,
.phn-web-wrapper span, .copyright, .unsub {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.phn-web-wrapper {
  text-align: left;
  padding: 0 135px 50px 0px;
}
.phn-web-wrapper img {
  margin: 5px 15px 0 0;
}
.address {
  padding-bottom: 50px;
}
.icon>img{
  width: 24px;
}
.social-link{
    display: flex;
    justify-content: center;
    padding: 48px;
    gap: 24px;
}
.unsub a{
    color: #fff;
}
.unsub a:hover{
    color: #f00;
}
.copyright-unsub{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}